/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

.sidebar {
    position: absolute;
    top: 60px; /* altura do navbar */
    left: 0;
    width: 200px;
    background-color: #222;
    color: white;
    padding: 15px;
    height: calc(100% - 60px); /* altura restante */
}

.container {
    margin-left: 220px; /* largura da sidebar */
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #2462d6;
}

.document-list {
    list-style: none;
    padding: 0;
}

.document-item {
    background-color: #e9ecef;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.status-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.status-button:hover {
    background-color: #0056b3;
}

.delete-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.delete-button:hover {
    background-color: #e60000;
}
