* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #2462d6;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

#title {
    text-align: center;
    font-family: Nunito;
    text-shadow: rgba(87, 87, 87, 0.725) 5px 4px 10px;
    margin-bottom: 1rem;
}

#uploadSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #2462d6;
    padding: 1rem;
    border-radius: 5px;
    font-family: nunito;
}

#fileInput {
    margin-right: 30px;
    font-family: nunito;
    color: red;
    
}

.success {
    background-color: #07af10;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.success:hover {
    background-color: #045f09;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.delete {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    border-radius: 5px;
}

.delete:hover {
    background-color: #c0392b;
}

#title {
    font-family: Nunito;
    margin-top: 2rem;
}

.download {
    text-decoration: none;
    font-family: nunito;
    color: #ddd;
    background-color: #07af10;
    padding: 3px 10px;
    border-radius: 5px;
}

.download:hover {
    background-color: #045f09;
}

.btn-docs {
    font-family: nunito;
    background-color: rgb(216, 213, 213);
}

#doc-info {
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    background-color: rgb(216, 213, 213);
    font-family: nunito;
}

/* Estilos básicos para a tabela */
table {
    width: 99%;
    border-collapse: collapse;
    margin-left: 10px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f4f4f4;
    position: relative;
}
/* Estilo para o dropdown no cabeçalho */
.header-select {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 5px;
    box-sizing: border-box; /* Faz o padding não exceder o tamanho da célula */
}
/* Estilo para os campos de entrada na tabela */
.file-info input {
    width: 100%;
    box-sizing: border-box;
}
.status-select, .delete {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    body {
        width: 90%;
        margin: 1rem auto;
    }

    #uploadSection {
        flex-direction: column;
    }

    #fileInput, .success {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
